@model FinancesSharp.Reports.BudgetReport
@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <div class="search-form">
        <div class="part">
            <span class="label">Month</span>
            <span class="field">
                @Html.EditorFor(m => m.Month)
            </span>
        </div>
        <button>Update</button>
        <div style="clear: left"></div>
    </div>
}

<table style="max-width: 900px;">
    <thead>
    <tr>
        <th></th>
        <th>Budgeted spending (£)</th>
        <th>Actual spending (£)</th>
        <th>Surplus (£ saved)</th>
		<th>Transactions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Total</td>
        <td>@Model.Budget.TotalBudget</td>
        <td>@Model.TotalSpending</td>
        <td>@Html.DisplayFor(x => x.Surplus, "Surplus")</td>
		<td></td>
    </tr>
    @foreach (var item in Model.Data)
    {
        <tr>
            <td>@item.Item.Name</td>
            <td>@item.Item.BudgetedAmount</td>
            <td>@item.TotalSpending</td>
            <td>@Html.DisplayFor(_ => item.Surplus, "Surplus")</td>
			<td>@Html.DisplayFor(_ => item.Transactions, "TransactionList")</td>
        </tr>
    }
    <tr>
        <td>Miscellaneous / discretionary</td>
        <td>@Model.Budget.MiscellaneousBudget</td>
        <td>@Model.MiscellaneousSpending</td>
        <td>@Html.DisplayFor(x => x.MiscellaneousSurplus, "Surplus")</td>
		<td>@Html.DisplayFor(x => x.MiscellaneousTransactions, "TransactionList")</td>
    </tr>
     </tbody>
</table>